<!-- Header -->
<header id="header">
    <nav class="navbar navbar-expand-lg fixed-top" id="header_nav">
        <div class="container-fluid">
		<div class="row header_row">
		
		<div class="col-md-3 col-sm-12 col-xs-12">
          <div class="navbar-header">
            <div class="logo"> <a routerLink=""><img src="assets/images/logo.png" alt="image"/></a> </div>
			</div>
            <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggler" type="button"> 
                <i class="fa fa-bars"></i> 
            </button>
          </div>
	<div class="col-md-9 col-sm-12 col-xs-12">
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav mr-auto">
                <li><a routerLink="/" routerLinkActive="active" (click)="hideSlider(true)">Home</a></li>
                <li><a routerLink="/about" routerLinkActive="active" (click)="hideSlider(false)">About Us</a></li>
                <li><a routerLink="/" routerLinkActive="active">Career</a></li>
                <li><a routerLink="/contact" routerLinkActive="active" (click)="hideSlider(false)">Contact Us</a></li>
                <!-- <li class="menu-item-has-children"><a>Login</a> <span class="arrow"></span>
                  <ul class="sub-menu"> -->
                    <!-- <li><a routerLink="/saleslogin" (click)="hideSlider(false)">Sales Login</a></li> -->
                <li><a routerLink="/login" routerLinkActive="active" (click)="hideSlider(false)">Login</a></li>
                 <!-- </ul> -->
              <!-- </li> -->
            </ul>
            <div class="submit_listing">
	            <a routerLink="/addListing" (click)="hideSlider(false)" class="btn outline-btn"><i class="fa  fa-plus-circle"></i> Submit Listing</a>
            </div>
          </div>
        </div>
	</div>
</div>
</nav>
</header>
<!-- /Header -->
