<section class="primary-bg">
	<div class="container">
    	<div id="login_signup" class="validation">
            <div class="form_wrap_m">
            	<div class="white_box">
                    <h3>Hey, Welcome Back!</h3>
                    <div class="alert alert-danger" *ngIf="loginError">
                        {{loginError}}
                     </div>
	                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  >
                    <div class="form-group ">
                      <!-- <label class="label-title" for="Role">Role</label> -->
                      <div >
                        <select class="select" (change)="changeRole($event)" formControlName="role">
                          <option value="">Choose your Role</option>
                          <option *ngFor="let role of Role" [ngValue]="role">{{role}}</option>
                       </select>
                       <!-- error block -->
                       <div *ngIf="role.invalid && (role.dirty || role.touched)" class="error">
                        <div *ngIf="role.errors">
                          Role is required.
                        </div>
                      </div>
                      </div>   
                  </div>
                        <div class="form-group">
                            <input type="text" formControlName="email" class="form-control" placeholder="Email" required>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                                <div *ngIf="email.errors">
                                  Email is required.
                                </div>
                              </div>
                              <!-- <div *ngIf="username.errors.required">
                                Username is required.
                              </div> -->
                        </div>
                        <div class="form-group">
                            <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
                              <div *ngIf="password.errors">
                                Password is required.
                              </div>
                            </div>
                            <!-- <div *ngIf="password.errors.required">
                              password is required.
                            </div> -->
                        </div>
                        <div class="form-group">
                            <a >
                            <input type="submit"  class="btn btn-block" value="Login"></a>
                        </div>
                    </form>
                   
                    <p><a routerLink="/forgotpassword">Lost your password?</a></p>
                    <div class="back_home"><a href="index.html" class="btn outline-btn btn-sm"><i class="fa fa-angle-double-left"></i> Back to Home</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
