<!-- Listings -->
<app-header></app-header>
<app-banner ></app-banner>
<ng-container>
<section id="inner_pages">
	<div class="container">
    	<div class="listing_header">
        	<h5>{{para.subcat}}'s Listing</h5>
            
            <div class="layout-switcher">
                <a routerLink="/subcat"><i class="fa fa-th"></i></a>
                <a  class="active"><i class="fa fa-align-justify"></i></a>
            </div>
        </div>
    	<div class="listview show_listing" >
            <div class="listing_wrap" *ngFor ="let business of businesses"  >
                    <div class="listing_img" (click)="onSelectBusiness(business)" >
                        <span class="like_post"><i class="fa fa-bookmark-o"></i></span>
                        <div class="listing_cate">
                            <!-- <span class="cate_icon"><a routerLink="/business-profile">
                                <img src="assets/images/category-icon4.png" alt="icon-img">
                            </a></span>  -->
                            <span class="listing_like"><a href="#"><i class="fa fa-heart-o"></i></a></span>
                        </div>
                        <img [src]="url.img_url+'/Business/logo/'+business.logo" height="245" width="332">
                    </div>
                    <div class="listing_info">
                        <!-- <div class="post_category">
                            <a >Beauty & Spas</a>
                        </div> -->
                        <h4><a>{{business.title}}</a></h4>
                        <p>{{business.tag_line}}</p>
                        <span>{{business.p_mobile}},</span>&nbsp;
                        <span>{{business.b_mobile}},</span>&nbsp;
                        <span>{{business.b_mobile2}},</span>&nbsp;
                        <div>{{business.email}}</div>
                        
                        <div class="listing_review_info">
                            <p><span class="review_score">4.0/5</span> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star"></i> 
                               (5 Reviews) </p>
                            <p class="listing_map_m"><i class="fa fa-map-marker"></i> {{business.address}}</p>
                        </div>
                    </div>
                </div>
        </div>

		<nav class="pagination_nav">
          <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2 </a></li>
            <li><a href="#">3 </a></li>
            <li><a href="#">4 </a></li>
            <li><a href="#">5 </a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
          </ul>
        </nav>
    </div>
</section>
<!-- /Listings -->
</ng-container>
<app-footer></app-footer>







