
<section class="listing_detail_header  style2_header parallex-bg" [ngStyle]="{'background-image': 'url(' + banner + ')'}" >
	<div class="container">
    	<div class="div_zindex white-text">
        	<div class="row" *ngIf="businessprofile[0]">
            <div class="listing_img"  class="col-md-2">
              <img [src]="url.img_url+'/Business/logo/'+businessprofile[0].logo" height="150" width="200">
              </div>
            	<div class="col-md-6">
                	<h1>{{para.title}}</h1>
                    <p>{{businessprofile[0]?.tag_line}}</p>
                    <div class="listing_rating">
                        <p><span class="review_score">4.0/5</span> 
                           <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> 
                           <i class="fa fa-star active"></i> <i class="fa fa-star"></i> 
                           (5 Reviews) </p>
                        <p class="listing_like"><a href="#"><i class="fa fa-heart-o"></i> 5 Likes</a></p>
                        <p class="listing_favorites"><a href="#"><i class="fa fa-bookmark-o"></i> Add to favorites</a></p>   
                    </div>
                </div>
                <div class="col-md-4">
                	<div class="pricing_info">
                        <div class="listing_message"><a class="btn" data-toggle="modal" data-target="#message_modal"><i class="fa fa-envelope-o"></i> Send Message</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dark-overlay"></div>
</section>
<!-- /Listing-detail-Header -->

<!-- Listings -->
<section class="listing_info_wrap listing_detail_2">
	<div class="container">
        	<div class="sidebar_wrap listing_action_btn">
                <ul>
                    <li><a data-toggle="modal" data-target="#share_modal"><i class="fa fa-share-alt"></i> Share This</a></li>
                    <li><a data-toggle="modal" data-target="#email_friends_modal"><i class="fa fa-envelope-o"></i>Email to Friends</a></li>
                    <li><a href="#writereview" class="js-target-scroll"> <i class="fa fa-star"></i> Write a Review</a></li>
                    <li><a data-toggle="modal" data-target="#report_modal"><i class="fa fa-exclamation-triangle"></i> Report</a></li>
                </ul>
            </div>
                    
            <div class="image_slider_wrap">
                <div id="listing_img_slider">
                    <div class="owl-carousel owl-theme">
                     
                       <div class="item"> <img [src]="url.img_url+'/Business/gallary/'+businessprofile[0].img_gallary" height="245" width="332"></div>
                       <!-- <div class="item"><img src="assets/images/gallery_2.jpg" alt="image"></div>
                       <div class="item"><img src="assets/images/gallery_3.jpg" alt="image"></div>
                       <div class="item"><img src="assets/images/gallery_4.jpg" alt="image"></div>
                       <div class="item"><img src="assets/images/gallery_5.jpg" alt="image"></div> -->
                    </div>    
                </div>
                <div class="view_map">
                    <a href="#single_map" class="js-target-scroll"><i class="fa fa-map-marker"></i></a>
                </div>

            </div>
            
            <div class="row">
                <div class="col-md-8">
                    <div class="ElemoListing_detail">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#description" aria-expanded="true" aria-controls="collapseOne">
                                     <i class="fa  fa-file-text-o"></i> Listing Description</a>
                                  
                                  </h4>
                                </div>
                                <div id="description" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    <p>{{businessprofile[0].descri}}</p>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                  <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#amenities" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-align-left"></i> Amenities</a>
                                  </h4>
                                </div>
                                <div id="amenities" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                  <div class="panel-body">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-credit-card"></i> Accepts Credit cards</a></li>
                                        <li><a href="#"><i class="fa fa-paw"></i> Pets Friendly</a></li>
                                        <li><a href="#"><i class="fa fa-ban"></i> No Smoking</a></li>
                                         <li><a href="#"><i class="fa fa-snowflake-o"></i> Air Conditioning</a></li>
                                        <li><a href="#"><i class="fa fa-car"></i> Street Parking</a></li>
                                        <li><a href="#"><i class="fa fa-wifi"></i> Wireless Internet</a></li>
                                        <li><a href="#"><i class="fa fa-wheelchair-alt"></i> Wheelchair Accessible</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                  <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#opening_hours" aria-expanded="false" aria-controls="collapseThree"> <i class="fa fa-calendar-check-o"></i> Opening Hours</a>
                                  </h4>
                                </div>
                                <div id="opening_hours" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                  <div class="panel-body">
                                    <ul>
                                        <li>
                                            <span class="hours_title"><i class="fa fa-clock-o"></i>Monday</span> 
                                            <span>{{businessprofile[0]?.mon_o}}</span> - <span>{{businessprofile[0]?.mon_c}}</span>
                                        </li>
                                        <li>
                                            <span class="hours_title"><i class="fa fa-clock-o"></i>Tuesday</span> 
                                            <span>{{businessprofile[0]?.tue_o}}</span> - <span>{{businessprofile[0]?.tue_c}}</span>
                                        </li>
                                        <li>
                                            <span class="hours_title"><i class="fa fa-clock-o"></i>Wednesday</span> 
                                            <span>{{businessprofile[0]?.wed_o}}</span> - <span>{{businessprofile[0]?.wed_c}}</span>
                                        </li>
                                        <li>
                                            <span class="hours_title"><i class="fa fa-clock-o"></i>Thursday</span> 
                                            <span>{{businessprofile[0]?.thrus_o}}</span> - <span>{{businessprofile[0]?.thrus_c}}</span>
                                        </li>
                                        <li>
                                            <span class="hours_title"><i class="fa fa-clock-o"></i>Friday</span> 
                                            <span>{{businessprofile[0]?.fri_o}}</span> - <span>{{businessprofile[0]?.fri_c}}</span>
                                        </li>
                                        <li>
                                            <span class="hours_title"><i class="fa fa-clock-o"></i>Saturday</span> 
                                            <span>{{businessprofile[0]?.sat_o}}</span> - <span>{{businessprofile[0]?.sat_c}}</span>
                                        </li>
                                        <li>
                                            <span class="hours_title"><i class="fa fa-clock-o"></i>Sunday</span> 
                                            <span>{{businessprofile[0]?.sun_o}}</span> - <span>{{businessprofile[0]?.sun_c}}</span>
                                        </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
							  
							  <!-- <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#events" aria-expanded="false" aria-controls="collapseThree"> <i class="fa fa-calendar"></i> Events</a>
                              </h4>
                            </div>
                            <div id="events" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree">
                              <div class="panel-body">
                                <div class="row">
                                <div class="col-sm-6 event_listing">
							   <div class="listing-thumb">
								<a href="event-detail.html"><img src="assets/images/event1.jpg"></a>
								</div>
								<div class="event_right interest-icon">
								<a href="#" class="batn"title="interested"><i class="fa fa-star-o"></i></a>
								</div>
								<div class="js-grid-item-body event_body">
									<div class="event_calendar">
										<span class="event_month color-primary">April</span>
										<span class="event_date">27</span>
										<span class="event_year">2020</span>
									</div>
									<div class="event_content">
									<h2 class="event_title"><a href="event-detail.html">Healthcare Excellence Awards</a></h2>
									<ul class="event_meta list-none">
									
									<li class="event_metaLis text-ellipsis">
									<span class="map_icon_thumb"><i class="fa fa-map-marker"></i><span>USAA Corporate Office, Fredericksburg Road, San Antonio, TX, USA</span></span></li>
									<li class="event_metaLis text-ellipsis"><span></span>
									</li>
									</ul>
									</div>
								</div>
								
								
								</div>
								
								 <!-- <div class="col-sm-6 event_listing">
							   <div class="listing-thumb">
								<a href="event-detail.html"><img src="assets/images/event2.jpg"></a>
								</div>
								<div class="event_right interest-icon">
								<a href="#" class="batn"title="interested"><i class="fa fa-star-o"></i></a>
								</div>
								<div class="js-grid-item-body event_body">
									<div class="event_calendar">
										<span class="event_month color-primary">February</span>
										<span class="event_date">15</span>
										<span class="event_year">2020</span>
									</div>
									<div class="event_content">
									<h2 class="event_title"><a href="event-detail.html">Valentine Day Celebration</a></h2>
									<ul class="event_meta list-none">
									
									<li class="event_metaLis text-ellipsis">
									<span class="map_icon_thumb"><i class="fa fa-map-marker"></i><span>USAA Corporate Office, Fredericksburg Road, San Antonio, TX, USA</span></span></li>
									<li class="event_metaLis text-ellipsis"><span></span>
									</li>
									</ul>
									</div>
								</div>
								
								
								</div> -->
								
                              <!-- </div>
                              </div>
                            </div>
                          </div> --> 
							  
                        </div>
                        
                        <!-- Listing-Map -->
                        <div id="single_map">
                            <div class="widget_title">
                                 <h4>View Map</h4>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3722.555623360984!2d78.972256!3d21.0904035!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjHCsDA1JzI0LjgiTiA3OMKwNTgnMjEuOCJF!5e0!3m2!1sen!2sin!4v1612784850345!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                                        <!-- <div id="single_map_wrp">
                                <div id="singlemap" data-latitude="21.090210" data-longitude="78.972722" data-map-icon="assets/images/category-icon2.png"></div>
                                
                            </div> -->
                        </div>
	                    <!-- /Listing-Map -->
                        
                        <!-- Review-List -->
                        <div class="reviews_list">
                            <div class="widget_title">
                                 <h4><span>2 Reviews for</span> The Morning Hotel</h4>
                             </div>
                            <div class="review_wrap">
                                <div class="review_author">
                                    <img src="assets/images/94x94.jpg" alt="image">
                                    <figcaption>
                                        <h6>Joanna Atkinson</h6>
                                    </figcaption>
                                </div>
                                <div class="review_detail">
                                    <h5>Good service and Location is great</h5>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. </p>
                                    <div class="listing_rating">
                                        <p><span class="review_score">4.0/5</span> 
                                           <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> 
                                           <i class="fa fa-star active"></i> <i class="fa fa-star"></i> 
                                           (5 Reviews) </p>
                                        <p><i class="fa fa-clock-o"></i> April 11, 2017 8:52 am</p>  
                                    </div>
                                </div>
                            </div>
                            
                            <div class="review_wrap">
                                <div class="review_author">
                                    <img src="assets/images/94x94.jpg" alt="image">
                                    <figcaption>
                                        <h6>Joanna Atkinson</h6>
                                    </figcaption>
                                </div>
                                <div class="review_detail">
                                    <h5>Good service and Location is great</h5>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. </p>
                                    <div class="listing_rating">
                                        <p><span class="review_score">4.0/5</span> 
                                           <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> 
                                           <i class="fa fa-star active"></i> <i class="fa fa-star"></i> 
                                           (5 Reviews) </p>
                                        <p><i class="fa fa-clock-o"></i> April 11, 2017 8:52 am</p>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Review-List -->
                        
                        <!-- Review-Form -->
                        <div id="writereview" class="review_form">
                    	<div class="widget_title">
	                    	 <h4>Write a Review </h4>
                         </div>
						<form action="#" method="get">
                        	<div class="form-group">
                            	<label class="form-label">Your Rating for this listing</label>
                                <div class="listing_rating">
                                    <input name="rating" id="rating-1" value="1" type="radio">
                                    <label for="rating-1" class="fa fa-star"></label>
                                    <input name="rating" id="rating-2" value="2" type="radio">
                                    <label for="rating-2" class="fa fa-star"></label>
                                    <input name="rating" id="rating-3" value="3" type="radio">
                                    <label for="rating-3" class="fa fa-star"></label>
                                    <input name="rating" id="rating-4" value="4" type="radio">
                                    <label for="rating-4" class="fa fa-star"></label>
                                    <input name="rating" id="rating-5" value="5" type="radio">
                                    <label for="rating-5" class="fa fa-star"></label>
                                </div>
                            </div>
                            <div class="form-group">
                            	<label class="form-label">Email</label>
                                <input name="" type="email" placeholder="you@website.com" class="form-control">
                            </div>
                            <div class="form-group">
                            	<label class="form-label">Title</label>
                                <input name="" type="text" placeholder="Title of Your Review" class="form-control">
                            </div>
                            <div class="form-group">
                            	<label class="form-label">Review</label>
                                <textarea name="" cols="" rows="" class="form-control" placeholder="Yout Experience"></textarea>
                            </div>
                            <div class="form-group">
                            	<input type="submit" class="btn" value="Submit Review">
                            </div>
                        </form>
                    </div>
                        <!-- Review-Form -->
                    </div>
                </div>
                
                <!-- Sidebar -->
                 <div class="col-md-4">
                    <div class="ElemoListing_sidebar">
                        <div class="sidebar_wrap listing_contact_info">
                            <div class="widget_title">
                                <h6>Contact Info</h6>
                            </div>
                            <ul>
                                <li><i class="fa fa-map-marker"></i>{{businessprofile[0].address}} </li>
                                <li><i class="fa fa-phone"></i> <a>{{businessprofile[0].p_mobile}}</a></li>
                                <li><i class="fa fa-envelope"></i> <a >{{businessprofile[0].email}}</a></li>
                                <li><i class="fa fa-link"></i> <a >{{businessprofile[0].website}}</a></li>
                            </ul>
                            <div class="social_links">
                                <a [href]="businessprofile[0].facebook" target="_blank" class="facebook_link"><i class="fa fa-facebook-f"></i></a>
                                <a [href]="businessprofile[0].linkdin" target="_blank" class="linkedin_link"><i class="fa fa-linkedin"></i></a>
                                <a [href]="businessprofile[0].twitter" target="_blank" class="twitter_link"><i class="fa fa-twitter"></i></a>
                                <a [href]="businessprofile[0].instagram" target="_blank" class="instagram_link"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        
                        <div class="sidebar_wrap">
                            <div class="widget_title">
                                <h4>Watch Video</h4>
                            </div>
                            <youtube-player 
                              [videoId]="businessprofile[0].video_url"
                              suggestedQuality="highres" 
                              [height]="250" 
                              [width]="300" 
                              [startSeconds]="4"
                              [endSeconds]="8">
                            </youtube-player>
                            <!-- <div class="listing_video">
                              <iframe class="mfp-iframe" [src]="safeSrc" allowfullscreen></iframe>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- /Sidebar -->
            </div>
    </div>
</section>
<!-- /Listings -->

<!-- Similar-Listings -->
<section id="similar_listings" class="section-padding gray_bg">
	<div class="container">
		<div class="section-header text-center">
            <h2>Similar Listings </h2>
        </div>
        <div class="row">
            <div class="col-md-4 show_listing grid_col">
                <div class="listing_wrap">
                    <div class="listing_img">
                        <span class="like_post"><i class="fa fa-bookmark-o"></i></span>
                        <div class="listing_cate">
                            <span class="cate_icon"><a href="#"><img src="assets/images/category-icon1.png" alt="icon-img"></a></span> 
                            <span class="listing_like"><a href="#"><i class="fa fa-heart-o"></i></a></span>
                        </div>
                        <a href="#"><img src="assets/images/listing_img1.jpg" alt="image"></a>
                    </div>
                    <div class="listing_info">
                        <div class="post_category">
                            <a href="#">Real Estate</a>
                            
                        </div>
                        <h4><a href="#">The Morning Hotel</a></h4>
                        <p>5-star hotel with restaurant, Deluxe Rooms.</p>
                        
                        <div class="listing_review_info">
                            <p><span class="review_score">4.0/5</span> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star"></i> 
                               (5 Reviews) </p>
                            <p class="listing_map_m"><i class="fa fa-map-marker"></i> Los Angeles</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 show_listing grid_col">
                <div class="listing_wrap">
                    <div class="listing_img">
                        <span class="like_post"><i class="fa fa-bookmark-o"></i></span>
                        <div class="listing_cate">
                            <span class="cate_icon"><a href="#"><img src="assets/images/category-icon1.png" alt="icon-img"></a></span> 
                            <span class="listing_like"><a href="#"><i class="fa fa-heart-o"></i></a></span>
                        </div>
                        <a href="#"><img src="assets/images/listing_img1.jpg" alt="image"></a>
                    </div>
                    <div class="listing_info">
                        <div class="post_category">
                            <a href="#">Real Estate</a>
                            
                        </div>
                        <h4><a href="#">The Morning Hotel</a></h4>
                        <p>5-star hotel with restaurant, Deluxe Rooms.</p>
                        
                        <div class="listing_review_info">
                            <p><span class="review_score">4.0/5</span> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star"></i> 
                               (5 Reviews) </p>
                            <p class="listing_map_m"><i class="fa fa-map-marker"></i> Los Angeles</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 show_listing grid_col">
                <div class="listing_wrap">
                    <div class="listing_img">
                        <span class="like_post"><i class="fa fa-bookmark-o"></i></span>
                        <div class="listing_cate">
                            <span class="cate_icon"><a href="#"><img src="assets/images/category-icon1.png" alt="icon-img"></a></span> 
                            <span class="listing_like"><a href="#"><i class="fa fa-heart-o"></i></a></span>
                        </div>
                        <a href="#"><img src="assets/images/listing_img1.jpg" alt="image"></a>
                    </div>
                    <div class="listing_info">
                        <div class="post_category">
                            <a href="#">Real Estate</a>
                            
                        </div>
                        <h4><a href="#">The Morning Hotel</a></h4>
                        <p>5-star hotel with restaurant, Deluxe Rooms.</p>
                        
                        <div class="listing_review_info">
                            <p><span class="review_score">4.0/5</span> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star"></i> 
                               (5 Reviews) </p>
                            <p class="listing_map_m"><i class="fa fa-map-marker"></i> Los Angeles</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Similar-Listings -->

<!-- Share-Listing -->
<div id="share_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h3 class="modal-title">Share Listing</h3>
        </div>
        <div class="modal-body">
            <div class="share_listing">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Share-Listing -->
  
  <!-- Email-to-Friends -->
  <div id="email_friends_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h3 class="modal-title">Email to Friend</h3>
        </div>
        <div class="modal-body">
          <form action="#" method="get">
            <div class="form-group">
              <input class="form-control" placeholder="Your Name" type="text">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Your Email Address" type="email">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Friend Email Address" type="email">
            </div>
            <div class="form-group">
              <textarea rows="4" class="form-control" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <input value="Submit" class="btn btn-block" type="submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Email-to-Friends -->
  
  <!-- Report -->
  <div id="report_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h3 class="modal-title">Report This Listing</h3>
          <p>Please indicate what problem has been found!</p>
        </div>
        <div class="modal-body">
          <form action="#" method="get">
            <div class="form-group">
              <div class="radio">
                  <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_0" checked>
                  <label for="RadioGroup1_0">Duplicate Listing</label>
               </div>
               <div class="radio">
                  <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_1">
                  <label for="RadioGroup1_1">Wrong Contact Info </label>
               </div>
               <div class="radio">
                  <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2">
                  <label for="RadioGroup1_2">Fake Listing</label>
               </div>
               <div class="radio">
                  <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2">
                  <label for="RadioGroup1_2">Other Problem</label>
               </div>
            </div>
            <div class="form-group">
              <textarea rows="4" class="form-control" placeholder="Problem Description"></textarea>
            </div>
            <div class="form-group">
              <input value="Submit" class="btn btn-block" type="submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Report -->
  
  <!-- Send-Message -->
  <div id="message_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h3 class="modal-title">Send Message</h3>
        </div>
        <div class="modal-body">
          <form action="#" method="get">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <textarea rows="4" class="form-control" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <input value="Send Message" class="btn btn-block" type="submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Send-Message -->
  