<div class="dashboard_container">
	<!-- Header -->
	<header id="header">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
               <div class="navbar-header">
                <div class="logo"> <a routerLink="/"><img src="assets/images/logo.png" alt="image"/></a> </div>
                <div id="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i></div>
              </div>
                <div class="collapse navbar-collapse" id="">
                    <div class="user_nav ml-auto">
                        <div class="dropdown">
                          <span id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/images/happy-client-01.jpg" alt="img"> 
                          </span>
                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-cogs"></i> Dashboard</a></li>
                            <li><a routerLink="./profile"><i class="fa fa-user-o"></i> My Profile</a></li>
                            <li><a [routerLink]="['/login']"><i class="fa fa-power-off"></i> Logout</a></li>                   
                          </ul>
                        </div>
                    </div>
                    <div class="submit_listing">
                        <a routerLink="./salesregister" class="btn outline-btn"><i class="fa  fa-plus-circle"></i>Add Sells Person</a>
                       
                        <!-- <p>Don't have an account? <a routerLink="/signup">Signup Here</a></p> -->
                    </div>
                </div>
             </div>   
        </nav>
    </header>
	<!-- /Header -->

	<div id="dashboard">
	<!-- Navigation -->
    <div id="dashboard-nav" class="dashboard-nav">	
		<ul>
            <li class="active"><a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-cogs"></i> Dashboard</a></li>
            <li><a routerLink="./addcategory" routerLinkActive="active"><i class="fa  fa-plus-circle"></i>Add Category</a></li>
            <li><a routerLink="./addsubcategory" routerLinkActive="active"><i class="fa  fa-plus-circle"></i>Add Subcategory</a></li>
			<li><a routerLink="./mylisting" routerLinkActive="active"><i class="fa fa-th-list"></i> My Listings</a></li>
            <li><a routerLink="./signup" routerLinkActive="active"><i class="fa  fa-plus-circle"></i>New Admin Registration</a></li>
            <!-- <li><a routerLink="./addlisting" routerLinkActive="active"><i class="fa fa-plus"></i> Add Listing</a></li> -->
             <!-- <li><a routerLink="./profile" routerLinkActive="active"><i class="fa fa-user-o"></i> My Profile</a></li>  -->
			<li><a [routerLink]="['/login']" (click)="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
            <!-- <li> <a routerLink="./addsellsperson" class="btn outline-btn"><i class="fa  fa-plus-circle"></i>Add Sells Person</a></li> -->
            <!-- <li><a routerLink="./addsellsperson" routerLinkActive="active"><i class="fa  fa-plus-circle"></i>Add Sells Person</a></li> -->
           
		</ul>	
	</div>
	<!-- Navigation / End -->

	<!-- Content -->
	<div class="dashboard-content">
		<!-- Titlebar -->
		

		<!-- Notice -->
		 <div class="row">
			<div class="col-md-12">
                <router-outlet></router-outlet>
     
			</div>
		</div> 
		
  
		<div class="row">
			<!-- Copyrights -->
			<div class="col-md-12">
				<div class="copyrights">Copyright &copy; 2020 Local Trade Street. All Rights Reserved</div>
			</div>
		</div>
	</div>
	<!-- Content / End -->
</div>
</div>