<div class="dashboard_container">
	<!-- Header -->
	<header id="header">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
               <div class="navbar-header">
                <div class="logo"> <a routerLink="/"><img src="assets/images/logo.png" alt="image"/></a> </div>
                <div id="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i></div>
              </div>
                <div class="collapse navbar-collapse" id="">
                    <div class="user_nav ml-auto">
                        <div class="dropdown">
                          <span id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/images/happy-client-01.jpg" alt="img"> 
                          </span>
                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-cogs"></i> Dashboard</a></li>
                            <li><a routerLink="./profile"><i class="fa fa-user-o"></i> My Profile</a></li>
                            <li><a [routerLink]="['/login']"><i class="fa fa-power-off"></i> Logout</a></li>                   
                          </ul>
                        </div>
                    </div>
                    <div class="submit_listing">
                        <a routerLink="./addlisting" class="btn outline-btn"><i class="fa  fa-plus-circle"></i>Add New Listing</a>
                       
                    </div>
                </div>
             </div>   
        </nav>
    </header>
	<!-- /Header -->

	<div id="dashboard">
	<!-- Navigation -->
    <div id="dashboard-nav" class="dashboard-nav">	
		<ul>
            <li class="active"><a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-cogs"></i> Dashboard</a></li>
			<li><a routerLink="./mylisting" routerLinkActive="active"><i class="fa fa-th-list"></i> My Listings</a></li>
        	<li><a [routerLink]="['/login']"><i class="fa fa-power-off"></i> Logout</a></li>
		</ul>	
	</div>
	<!-- Navigation / End -->

	<!-- Content -->
	<div class="dashboard-content">
		<!-- Titlebar -->
		

		<!-- Notice -->
		 <div class="row">
			<div class="col-md-12">
                <router-outlet></router-outlet>
            	<!-- <div class="notification alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <p>Your listing <strong>Hotel Govendor</strong> has been approved!</p>
                </div> -->
			</div>
		</div> 
		
        <!-- <div class="row">
            <div class="dashboard-info-box">
                <div class="dashboard-info color-1">
                    <h4>6</h4> <span>Published Listings</span>
                </div>
                <div class="dashboard-info color-2">
                    <h4>1</h4> <span>Pending  Listings</span>
                </div>
                <div class="dashboard-info color-3">
                    <h4>2</h4> <span>Expired  Listings</span>
                </div>
                <div class="dashboard-info color-4">
                    <h4>520</h4> <span>Total Views</span>
                </div>
                <div class="dashboard-info color-5">
                    <h4>820</h4> <span>Total Reviews</span>
                </div>
                <div class="dashboard-info color-6">
                    <h4>15</h4> <span>Bookmarked Listings</span>
                </div>
            </div>
        </div> -->
        <!-- Recent Activity -->
        <!-- <div class="row">
			<div class="col-lg-12">
				<div class="dashboard-list-box with-icons margin-top-20">
					<h4>Recent Activities</h4>
					<ul>
						<li>
							<i class="list-box-icon fa fa-list"></i> Your listing <strong><a href="#">The Morning Hotel</a></strong> has been approved!
							<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
						</li>

						<li>
							<i class="list-box-icon fa fa-star-o"></i> Kathy Brown left a review on <strong>
                            <a href="#">The Morning Hotel</a></strong>
							<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
						</li>

						<li>
							<i class="list-box-icon fa fa-bookmark-o"></i> Someone bookmarked your <strong><a href="#">Laisa Spa Center</a></strong> listing!
							<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
						</li>

						<li>
							<i class="list-box-icon fa fa-star-o"></i> Kathy Brown left a review on <strong>
                            <a href="#">Auto Repair Shop</a></strong>
							<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
						</li>

						<li>
							<i class="list-box-icon fa fa-bookmark-o"></i> Someone bookmarked your <strong><a href="#">The Shelby Apartment</a></strong> listing!
							<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
						</li>
					</ul>
				</div>
			</div>
        </div> -->
		<div class="row">
			<!-- Copyrights -->
			<div class="col-md-12">
				<div class="copyrights">Copyright &copy; 2020 Local Trade Street. All Rights Reserved</div>
			</div>
		</div>
	</div>
	<!-- Content / End -->
</div>
</div>