<div id="titlebar">
    <div class="row">
      <div class="col-md-12">
        <h2>Update Subcategory</h2>
        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li>update Subcategory</li>
          </ul>
        </nav>
      </div>
    </div>
  
  <div *ngIf = "alert" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!</strong> Your Data Has Been Updated Succesfully.
      <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <div class="row">
              
      <!-- Listings -->
      <div class="col-lg-12 col-md-12">
          <form [formGroup]="updateSubcategoryForm" (ngSubmit)="onSubmit()">
              <div class="add_listing_info" >
                  <!-- <h3>Add Subcategory</h3>	 -->
                 			
                      <div class="form-group">
                          <label class="label-title">Subcategory Name</label>
                          <input type="text"  class="form-control" formControlName="subcat"  required>
                      </div>
                       <div class="form-group">
                          <label class="label-title">Category Image</label>
                          <input type="file" (change)="onFileSelected($event)" formControlName="subcat_img" required>
                      </div>    
                      <input type="submit"   value="Submit Subcategory" class="btn">
              </div>
              <!-- <div class="add_listing_info">
                
              </div>    -->
          </form>
      </div>
  </div>