<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2>Add Category</h2>
      <!-- Breadcrumbs -->
      <nav id="breadcrumbs">
        <ul>
          <li><a href="#">Home</a></li>
          <li>Add Category</li>
        </ul>
      </nav>
    </div>
  </div>
<div *ngIf = "alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Your Data Has Been Submitted Succesfully.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<div class="row">
			
  
    <div class="col-lg-12 col-md-12">
        <form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()">
            <div class="add_listing_info" >
                <!-- <h3>Add Category</h3>				 -->
                    <div class="form-group">
                        <label class="label-title">Category Name</label>
                        <input type="text"  class="form-control" formControlName="category"  required>
                    </div>
         	        <div class="form-group">
                        <label class="label-title">Category Image</label>
                        <input type="file" (change)="onFileSelected($event)" formControlName="cat_img" required>
                    </div>   
                    <input type="submit"   value="Submit Category" class="btn"> 
            </div>
            <!-- <div class="add_listing_info">
               
            </div>    -->
        </form>
    </div>
</div>
<br>
<h3>list of all Categories</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Category Name</th>
        <th scope="col">Image</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let category of categories">
        <th scope="row">{{category.id}}</th>
        <th>{{category.category}}</th>
        <th class="list-box-listing">
            <div class="list-box-listing-img">
                <img [src]="url.img_url+'/Category/'+category.cat_img" alt="">
            </div>
        </th>
        <th>
          <a routerLink="/admin/catupdate/{{category.id}}" class="button gray"><i class="fa fa-pencil"></i> Edit</a>
        </th>
          <th>  
            <a style="cursor: pointer;" (click)= "deleteCategory(category)" class="button red"><i class="fa fa-trash-o"></i> Delete</a>
        </th>
        
       
 
        <!-- <th><i class="fa fa-trash" style="font-size:30px;color:red;"></i>
        <a><i class="fa fa-edit" style="font-size:30px;color:blue;"></i></a></th> -->
      </tr>
  
    </tbody>
  </table>  



