
    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>My Profile</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li>My Profile</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    <div class="row">			
        <!-- Profile -->
        <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box">
                <div class="user_image">
                    <img src="assets/images/happy-client-01.jpg" alt="image">
                    <div class="buttons-to-right">
                        <a href="#" class="button gray"><i class="fa fa-pencil"></i> Edit Profile</a>
                    </div>
                </div>
                <div class="user_info">
                    <ul>
                        <li><span>Name:</span> chetan chitriv</li>
                        <li><span>Email:</span> cc@gmail.com</li>
                        <li><span>Phone:</span> +91-8381009662</li>
                    </ul>
                </div>
            </div>
        </div>
        