<div id="titlebar">
  <div class="row">
      <div class="col-md-12">
          <h2>Add New Admin Employee</h2>
          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
              <ul>
                  <li><a >Home</a></li>
                  <li><a >Dashboard</a></li>
                  <li>Add New sales Employee</li>
              </ul>
          </nav>
      </div>
  </div>
</div>
<div class="row">
    
  <!-- Listings -->
  <div class="col-lg-12 col-md-12">
    <form [formGroup]="SignUpForm" (ngSubmit)="onSubmit()">
           
      <div class="add_listing_info" >
          <div class="row">
             <div class="form-group col-sm-4">
                 <label class="label-title">First Name</label>
                 <input type="text"  class="form-control" formControlName="fname" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }"   required>
                 <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                     <div *ngIf="f.fname.errors.required">First Name is required</div>
                 </div>
          
             </div>
             <div class="form-group col-md-4">
                 <label class="label-title">Last Name</label>
                 <input type="text" class="form-control"  formControlName="lname" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }"  required>
                 <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                     <div *ngIf="f.lname.errors.required">Last Name is required</div>
                 </div>
             </div>
             <div class="form-group col-sm-4">
              <label class="label-title" for="Role">Role</label>
              <div >
                <select class=" custom-select" (change)="changeRole($event)" formControlName="role">
                  <option value="">Choose your Role</option>
                  <option *ngFor="let role of Role" [ngValue]="role">{{role}}</option>
               </select>
               <!-- error block -->
               <div class="invalid-feedback" *ngIf="submitted && role.errors?.required">
                  <sup>*</sup>Please enter your Role
               </div>
               </div>   
          </div>
         </div>
         <div class="row">
             <div class="form-group col-md-6 ">
                 <label class="label-title"> Mobile Number </label>
                 <input type="text" class="form-control" formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"  required>  
                 <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                     <div *ngIf="f.mobile.errors.required">Mobile Number is required</div>
                 </div>
             </div> 
    
             <div class="form-group col-md-6 ">
                 <label class="label-title">Email</label>
                 <input type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  required>
                 <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                     <div *ngIf="f.email.errors.required">Password is required</div>
                 </div>
             </div>
         </div> 
         <div class="row">  
             <div class="form-group col-md-6 ">
                 <label class="label-title">Password</label>
                 <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  required>
                 <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                     <div *ngIf="f.password.errors.required">Password is required</div>
                 </div>
             </div>
             <div class="form-group col-md-6 ">
                 <label class="label-title">Confirm Password</label>
                 <input type="password" class="form-control" formControlName="c_password" [ngClass]="{ 'is-invalid': submitted && f.c_password.errors }"  required>
                 <div *ngIf="submitted && f.c_password.errors" class="invalid-feedback">
                     <div *ngIf="f.c_password.errors.required">Confirm Password is required</div>
                 </div>
             </div>
         </div>
         <div class="row">  
             <div class="form-group col-md-12">
                 <label class="label-title">Address</label>
                 <input type="text" class="form-control" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"  required>
                 <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                     <div *ngIf="f.address.errors.required">Address is required</div>
                 </div>
             </div>
         </div>
         <div class="row">  
             <div class="form-group col-sm-6">
                 <label class="label-title">State</label>
                 <input type="text"  class="form-control" formControlName="state" [ngClass]="{ 'is-invalid': submitted && f.state.errors }"   required>
                 <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                     <div *ngIf="f.state.errors.required">State is required</div>
                 </div>
             </div>
             <div class="form-group col-sm-6">
                 <label class="label-title">City</label>
                 <input type="text" class="form-control"  formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }"  required>
                 <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                     <div *ngIf="f.city.errors.required">City is required</div>
                 </div>
             </div>
         </div>
         
    
         <div class="row">    
              <div class="form-group col-sm-12">
                 <label class="label-title">Avatar</label>
                 <input type="file" (change)="onFileUpload1($event)" formControlName="avatar" [ngClass]="{ 'is-invalid': submitted && f.avatar.errors }"  required>
                 <div *ngIf="submitted && f.avatar.errors" class="invalid-feedback">
                     <div *ngIf="f.avatar.errors.required">Avatar is required</div>
                 </div>
             </div>
         
         </div> 
         <div class="add_listing_info">
             <input  type="submit"   value="Submit Sales" class="btn">
         </div>   
   </div>
 </form> 
	                <!-- <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"  >
                        <div class="form-group">
                            <input type="text" formControlName="name" class="form-control" placeholder="Username" required>
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
                                <div *ngIf="name.errors">
                                  name is required.
                                </div>
                              </div>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="role" class="form-control" placeholder="Role" required>
                            <div *ngIf="role.invalid && (role.dirty || role.touched)" class="error">
                                <div *ngIf="role.errors">
                                  Role is required.
                                </div>
                              </div>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="email" class="form-control" placeholder="Email" required>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                                <div *ngIf="email.errors">
                                  Email is required.
                                </div>
                              </div>
                        </div>
                        <div class="form-group">
                            <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
                              <div *ngIf="password.errors">
                                Password is required.
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" formControlName="c_password" class="form-control" placeholder="Confirm Password" required>
                            <div *ngIf="c_password.invalid && (c_password.dirty || c_password.touched)" class="error">
                              <div *ngIf="c_password.errors">
                                confirm Password is required.
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <a >
                            <input type="submit"  class="btn btn-block" value="register"></a>
                        </div>
                    </form> -->
                  
</div>
</div>



