<!-- Banner -->
<section id="banner" class="parallex-bg section-padding">
	<div class="container">
    	<div class="intro_text white-text div_zindex">
    		<h1>Welcome to Local Trade Street</h1>
	        <h5>Search and apply to millions of Listings</h5>
            <div class="search_form">
            	<form action="http://themes.webmasterdriver.net/Elemo/listing-grid-map.html" method="get">
                	<div class="form-group select">
                   		<select class="form-control">
                            <option>What are you looking for?</option>
                            <option>Beauty</option>
                            <option>Automobile</option>
                            <option>Doctor</option>
                            <option>Real Estate</option>
                            <option>IT</option>
                            <option>Pets</option>
                            <option>Wedding</option>
            	            <option>Furniture</option>
                            <option>Hospitals</option>
                            <option>Restaurants</option>
        	                <option>Security Services </option>
    	                    <option>Tours & Travels</option>
                            <option>Insurance</option>
	                    </select>
                    </div>
                    <div class="form-group">
                   		<input type="text" class="form-control" placeholder="Location">
                    </div>
                    <div class="form-group search_btn">
                    	<input type="submit" value="Search" class="btn btn-block">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="dark-overlay"></div>
</section>
<!-- /Banner -->