
<section class="primary-bg">

	<div class="container">
    	<div id="add_listing" >
            <div class="form_wrap_l">
            	<div class="white_box">
                    <form [formGroup]="addListingForm" (ngSubmit)="onSubmit()">
                        <div *ngIf = "alert" class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Success!</strong> Your Data Has Been Submitted Succesfully.
                            <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                         <div class="add_listing_info" >
                            <h3>Basic Informations</h3>		
                            <div class="form-group">
                                <label class="label-title">Sales id	</label>
                                <input type="text"  class="form-control" formControlName="sales_id"  required>
                            </div>
                               
                                <div class="form-group">
                                    <label class="label-title">Listing Title</label>
                                    <input type="text"  class="form-control" formControlName="title"  required>
                                </div>
                                <div class="form-group">
                                    <label class="label-title">Listing Tag Line</label>
                                    <input type="text" class="form-control"  formControlName="tag_line" required>
                                </div>
                                <div class="row">
                                 <div class="form-group col-sm-6">
                                    <label class="label-title">Add Logo Image</label>
                                    <input type="file" (change)="onFileUpload1($event)" formControlName="logo" required>
                                </div>  	
                                <div class="form-group col-sm-6">
                                    <label class="label-title">Add Banner Image</label>		
                                    <input type="file" (change)="onFileUpload2($event)" formControlName="banner" required>
                                </div>  
                             </div>
                             <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="label-title" for="Category"> Category</label>
                                    <div class="select">
                                        <select  formControlName="category" (change)="onChangeCategory($event)" id="category" class="form-control"  >
                                            <option value="0">Select Category...</option>
                                            <option *ngFor="let category of categories" [value]="category.id">{{category.category}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="label-title" for="Subcategory">Subcategory</label>
                                    <div class="select">
                                        <select formControlName="subcat"   class="form-control" id="subcat" >
                                            <option  value="">Select Subcategory...</option>
                                            <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.subcat}}</option>
                                        </select>
                                     </div>   
                                </div>
                               
                              
                            </div>
                           
                             <!-- <div class="form-group"> 
                                <label class="label-title">Select Category</label>
                                <div class="select" >
                                    <select formControlName="category"  (change)="onSelectCategory($event)" id="id" class="form-control">
                                        <option  value="">Select category...</option>
                                        <option *ngFor="let category of categories" [value]="category.id">{{category.category}}</option>
                                    </select>
                                </div>
                             </div>	 -->
                            <!-- <div class="form-group"> 
                                <label class="label-title">Sub Category</label>
                                <div class="select" >
                                    <select formControlName="subcat"   class="form-control" id="id">
                                        <option *ngIf="!selectedCategory" value="">Select sub category...</option>
                                        <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.subcat}}</option>
                                    </select>
                                </div> -->
                                    <!-- <div class="select" >
                                        <angular2-multiselect [data]="subcategories" [(ngModel)]="selectedItems" 
                                        [settings]="dropdownSettings" 
                                        (onSelect)="onItemSelect($event)" 
                                        (onDeSelect)="OnItemDeSelect($event)"
                                        (onSelectAll)="onSelectAll($event)"
                                        (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                                    </div> -->
                                <!-- </div>   -->
                                <!-- <div class="form-group" [(ngModel)]="subCategory"> 
                                    <label class="label-title">Sub Category</label>
                                    
                                    <ng-multiselect-dropdown   id="type" data-live-search="true" 
                                        [ngValue]="subcategory" 
                                        *ngFor="let subcategory of filterSubById(Category.id)"
                                        name="Subcategory"
                                        [placeholder]="'Select Subcategory'"
                                        [data]="Subcategory"
                                        formControlName="Subcategory"
                                        [disabled]="disabled"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)">{{subcategory.title}}
                                     </ng-multiselect-dropdown>
                                    
                                </div> -->
                        </div> 
                        
                        <div class="add_listing_info">
                            <h3>Contact Info</h3>				
                            <div class="form-group">
                                <label class="label-title">Address</label>
                                <input type="text" class="form-control" formControlName="address" required>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="label-title" for="State">State</label>
                                    <div class="select">
                                        <select *ngIf="getstates()" formControlName="state" (change)="onSelectState($event)" id="state" class="form-control"  >
                                            <option value="0">Select State...</option>
                                            <option *ngFor="let state of getstates()" [value]="state.id">{{state.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="label-title" for="City">City</label>
                                    <div class="select">
                                        <select formControlName="city"   class="form-control" id="city" >
                                            <option *ngIf="!selectedState" value="">Select City...</option>
                                            <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
                                        </select>
                                     </div>   
                                </div>
                               
                              
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label class="label-title">Zip-Code</label>
                                    <input type="text" class="form-control" formControlName="zip_code" required>
                                </div>  
                                <div class="form-group col-sm-4">
                                    <label class="label-title" for="State">Latitude</label>
                                    <input type="text" class="form-control" formControlName="latitude" required>  
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="label-title" for="City">Longitude</label>
                                    <input type="text" class="form-control" formControlName="longitude" required>  
                                </div>
                             
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label class="label-title">Business Mobile Number 1</label>
                                    <input type="text" class="form-control" formControlName="p_mobile" required>  
                                </div> 
                                <div class="form-group col-sm-4">
                                    <label class="label-title">Business Mobile Number 2</label>
                                    <input type="text" class="form-control" formControlName="b_mobile" required>  
                                </div> 
                                <div class="form-group col-sm-4">
                                    <label class="label-title">Personal Mobile Number</label>
                                    <input type="text" class="form-control" formControlName="b_mobile2" required>  
                                </div>   
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="label-title">Email <span>(optional)</span></label>
                                    <input type="text" class="form-control" formControlName="email" required>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="label-title">Website <span>(optional)</span></label>
                                    <input type="text" class="form-control" formControlName="website" required>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3 col-sm-6">
                                    <label class="label-title">Facebook <span>(optional)</span></label>
                                    <input type="text" class="form-control" formControlName="facebook" required>
                                </div> 
                                <div class="form-group col-md-3 col-sm-6">
                                    <label class="label-title">Linkdin <span>(optional)</span></label>
                                    <input type="text" class="form-control" formControlName="linkdin" required>
                                </div> 
                                <div class="form-group col-md-3 col-sm-6">
                                    <label class="label-title">Twitter <span>(optional)</span></label>
                                    <input type="text" class="form-control" formControlName="twitter" required>
                                </div> 
                                <div class="form-group col-md-3 col-sm-6">
                                    <label class="label-title">Instagram<span>(optional)</span></label>
                                    <input type="text" class="form-control" formControlName="instagram" required>
                                </div>      
                            </div>             
                        </div>
                        
                        <div class="add_listing_info" >
                            <h3>Listing Details</h3>				
                            <div class="form-group">
                                <label class="label-title">Description</label>
                                <textarea class="form-control" formControlName="descri" required></textarea>
                            </div>  
                        </div>
                        
                     <div class="add_listing_info"> 
                            <h3>Opening Hours</h3>				
                            <div class="row" >  
                                <div class="form-group col-sm-2" >
                                    <label class="label-title">Monday</label>
                                </div>
                                <div class="form-group col-sm-5"  >    
                                    <div class="select">
                                        <select formControlName="mon_o"  class="form-control"  data-live-search="true">
                                            <option>Opening Time</option>
                                            <option *ngFor="let openingtime of openingtimes"  [value]="openingtime.id">{{openingtime.time}}</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-5">    
                                    <div class="select">
                                        <select formControlName="mon_c"   class="form-control"  data-live-search="true">
                                            <option>Closing Time</option>
                                            <option *ngFor="let closingtime of closingtimes" [value]="closingtime.id">{{closingtime.time}}</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" >  
                                <div class="form-group col-sm-2" >
                                    <label class="label-title">Tuesday</label>
                                </div>
                                <div class="form-group col-sm-5"  >    
                                    <div class="select">
                                        <select formControlName="tue_o"  class="form-control"  data-live-search="true">
                                            <option>Opening Time</option>
                                            <option *ngFor="let openingtime of openingtimes"  [value]="openingtime.id">{{openingtime.time}}</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-5">    
                                    <div class="select">
                                        <select formControlName="tue_c"   class="form-control"  data-live-search="true">
                                            <option>Closing Time</option>
                                            <option *ngFor="let closingtime of closingtimes" [value]="closingtime.id">{{closingtime.time}}</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" >  
                                <div class="form-group col-sm-2" >
                                    <label class="label-title">Wednesday</label>
                                </div>
                                <div class="form-group col-sm-5"  >    
                                    <div class="select">
                                        <select formControlName="wed_o"  class="form-control"  data-live-search="true">
                                            <option>Opening Time</option>
                                            <option *ngFor="let openingtime of openingtimes"  [value]="openingtime.id">{{openingtime.time}}</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-5">    
                                    <div class="select">
                                        <select formControlName="wed_c"   class="form-control"  data-live-search="true">
                                            <option>Closing Time</option>
                                            <option *ngFor="let closingtime of closingtimes" [value]="closingtime.id">{{closingtime.time}}</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" >  
                                <div class="form-group col-sm-2" >
                                    <label class="label-title">Thursday</label>
                                </div>
                                <div class="form-group col-sm-5"  >    
                                    <div class="select">
                                        <select formControlName="thrus_o"  class="form-control"  data-live-search="true">
                                            <option>Opening Time</option>
                                            <option *ngFor="let openingtime of openingtimes"  [value]="openingtime.id">{{openingtime.time}}</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-5">    
                                    <div class="select">
                                        <select formControlName="thrus_c"   class="form-control"  data-live-search="true">
                                            <option>Closing Time</option>
                                            <option *ngFor="let closingtime of closingtimes" [value]="closingtime.id">{{closingtime.time}}</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" >  
                                <div class="form-group col-sm-2" >
                                    <label class="label-title">Friday</label>
                                </div>
                                <div class="form-group col-sm-5"  >    
                                    <div class="select">
                                        <select formControlName="fri_o"  class="form-control"  data-live-search="true">
                                            <option>Opening Time</option>
                                            <option *ngFor="let openingtime of openingtimes"  [value]="openingtime.id">{{openingtime.time}}</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-5">    
                                    <div class="select">
                                        <select formControlName="fri_c"   class="form-control"  data-live-search="true">
                                            <option>Closing Time</option>
                                            <option *ngFor="let closingtime of closingtimes" [value]="closingtime.id">{{closingtime.time}}</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" >  
                                <div class="form-group col-sm-2" >
                                    <label class="label-title">Saturday</label>
                                </div>
                                <div class="form-group col-sm-5"  >    
                                    <div class="select">
                                        <select formControlName="sat_o"  class="form-control"  data-live-search="true">
                                            <option>Opening Time</option>
                                            <option *ngFor="let openingtime of openingtimes"  [value]="openingtime.id">{{openingtime.time}}</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-5">    
                                    <div class="select">
                                        <select formControlName="sat_c"   class="form-control"  data-live-search="true">
                                            <option>Closing Time</option>
                                            <option *ngFor="let closingtime of closingtimes" [value]="closingtime.id">{{closingtime.time}}</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" >  
                                <div class="form-group col-sm-2" >
                                    <label class="label-title">Sunday</label>
                                </div>
                                <div class="form-group col-sm-5"  >    
                                    <div class="select">
                                        <select formControlName="sun_o"  class="form-control"  data-live-search="true">
                                            <option>Opening Time</option>
                                            <option *ngFor="let openingtime of openingtimes"  [value]="openingtime.id">{{openingtime.time}}</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-5">    
                                    <div class="select">
                                        <select formControlName="sun_c"   class="form-control"  data-live-search="true">
                                            <option>Closing Time</option>
                                            <option *ngFor="let closingtime of closingtimes" [value]="closingtime.id">{{closingtime.time}}</option>
                                            <option value="">Closed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                    
                        </div>   
  <!-- <option>2 AM</option>
                                            <option>3 AM</option>
                                            <option>4 AM</option>
                                            <option>5 AM</option>
                                            <option>6 AM</option>
                                            <option>7 AM</option>
                                            <option>8 AM</option>
                                            <option>9 AM</option>
                                            <option>10 AM</option>
                                            <option>11 AM</option>
                                            <option>12 AM</option>
                                            <option>1 PM</option>
                                            <option>2 PM</option>
                                            <option>3 PM</option>
                                            <option>4 PM</option>
                                            <option>5 PM</option>
                                            <option>6 PM</option>
                                            <option>7 PM</option>
                                            <option>8 PM</option>
                                            <option>9 PM</option>
                                            <option>10 PM</option>
                                            <option>11 PM</option>
                                            <option>12 PM</option>
                                            <option>Closed</option> -->
                                   


   <!-- <option>2 AM</option>
                                            <option>3 AM</option>
                                            <option>4 AM</option>
                                            <option>5 AM</option>
                                            <option>6 AM</option>
                                            <option>7 AM</option>
                                            <option>8 AM</option>
                                            <option>9 AM</option>
                                            <option>10 AM</option>
                                            <option>11 AM</option>
                                            <option>12 AM</option>
                                            <option>1 PM</option>
                                            <option>2 PM</option>
                                            <option>3 PM</option>
                                            <option>4 PM</option>
                                            <option>5 PM</option>
                                            <option>6 PM</option>
                                            <option>7 PM</option>
                                            <option>8 PM</option>
                                            <option>9 PM</option>
                                            <option>10 PM</option>
                                            <option>11 PM</option>
                                            <option>12 PM</option>
                                            <option>Closed</option> -->
                        <div class="add_listing_info">
                            <h3>Add Video</h3>				
                            <div class="form-group">
                                <label class="label-title">Video Youtube URL</label>
                                <input type="text" class="form-control" formControlName="video_url" required>
                            </div>      
                        </div> 
                        <!-- <div ng2FileDrop
                            [ngClass]="{'drop-file-over': hasBaseDropZoneOver}"
                            (fileOver)="fileOverBase($event)"
                            [uploader]="uploader"
                            class="area">
                            <div id="dropZone">Drop files here</div>
                            </div>

                        <input type="file" ng2FileSelect [uploader]="uploader" multiple  />
                        <button (click)="upload()">Upload files</button>

                        <h2>Your files: {{ uploader?.queue?.length }}</h2>
                        <ul>
                        <li *ngFor="let item of uploader.queue">
                            {{ item?.file?.name }}
                        </li>
                        </ul> -->                                           
                        <div class="add_listing_info" >
                            <h3>Add Gallery Images</h3>				
                            <div class="form-group">
                                <input  multiple=""   id="file"  type="file" (change)="onFileSelected($event)" formControlName="img_gallary" required>
                     
                            </div>  
                        </div>
                        <!-- <img *ngFor='let url of images'  [src]="url" height="150" width="200px" style="margin: 3px;"> -->
                        <div>
                            <label class="label-title">Status</label>
                            <input type="text" class="form-control" formControlName="status" required>
                        </div>
                        
                        <div class="add_listing_info">
                            <input type="submit"   value="Submit Listing" class="btn">&nbsp;
                            <a routerLink=""> <input type="button"   value="Cancel" class="btn"></a>
                        </div>   
                          
                    </form> 
                 </div>
            </div>
        </div>
    </div>
</section>








