
    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>My Listings</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li>My Listings</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    <div class="row">
        
        <!-- Listings -->
        <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box">
                <h4>Active Listings</h4>
                <ul>
                    <li *ngFor ="let business of businesses">
                        <div class="list-box-listing">
                            <div class="list-box-listing-img">
                                <a> 
                                 <img [src]="url.img_url+'/Business/logo/'+business.logo" alt="">
                                </a>
                            </div>
                            <div class="list-box-listing-content">
                                <div class="inner">
                                    <h3><a>{{business.title}}</a></h3>
                                    <span>{{business.tag_line}}</span>
                                    <div>{{business.address}}</div>
                                    <span>{{business.p_mobile}},</span>&nbsp;
                                    <span>{{business.b_mobile}},</span>&nbsp;
                                    <span>{{business.b_mobile2}},</span>&nbsp;
                                    <div>{{business.email}}</div>
                                    <div class="star-rating">
                                        <div class="rating-counter">(12 reviews)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <div class="buttons-to-right">
                            <a  class="button gray">Activate</a>
                            <a  class="button red">Deactivate</a>
                        
                            <a href="#" class="button gray"><i class="fa fa-pencil"></i> Edit</a>
                            <a href="#" class="button red"><i class="fa fa-trash-o"></i> Delete</a>
                        </div>
                    </li>
                    </ul>
                    </div>
                    </div>
                    </div>
               
                    