<!-- Category-Slider -->

<section id="all_category" class="gray_bg">
	<div class="container">
    	<div id="category_slider" >
        	<div class="owl-carousel owl-theme " >
            	<!-- <div class="item" *ngFor ="let category of categories"  >
                	<a >
    	            	<div class="category_icon" >
                            <img [src]="url.img_url+'/Category/'+category.cat_img" alt="">
                        </div>
	                    <p>{{category.category}}</p>
                    </a>
                </div> -->
                <div class="item">
                	<a >
    	            	<div class="category_icon">
                            <img src="assets/images/category-icon1.png" alt="image">
                        </div>
	                    <p>Beauty</p>
                    </a>
                </div>
                
                <div class="item">
                	<a >
    	            	<div class="category_icon">
                            <img src="assets/images/category-icon2.png" alt="image">
                        </div>
	                    <p>Restaurant</p>
                    </a>
                </div>
                
                <div class="item">
                	<a >
    	            	<div class="category_icon">
                            <img src="assets/images/category/doctor.png" alt="image">
                        </div>
	                    <p>Doctor</p>
                    </a>
                </div>
                
                <div class="item">
                	<a >
    	            	<div class="category_icon">
                            <img src="assets/images/category-icon4.png" alt="image">
                        </div>
	                    <p>Beauty & Spas</p>
                    </a>
                </div>
                
                <div class="item">
                	<a >
    	            	<div class="category_icon">
                            <img src="assets/images/category-icon5.png" alt="image">
                        </div>
	                    <p>Tours & Travels</p>
                    </a>
                </div>
                
                <div class="item">
                	<a >
    	            	<div class="category_icon">
                            <img src="assets/images/category-icon6.png" alt="image">
                        </div>
	                    <p>Automobile</p>
                    </a>
                </div>
                
                <div class="item">
                	<a >
    	            	<div class="category_icon">
                            <img src="assets/images/category/wedding.png" alt="image">
                        </div>
	                    <p>wedding</p>
                    </a>
                </div>
            </div>
        </div>        
    </div>
</section>
<!-- /Category-Slider -->