<!-- Listings -->
<app-header></app-header>
<app-banner ></app-banner>
<ng-container>
<section id="inner_pages">
	<div class="container">
    	<div class="listing_header">
        	<h5>Listings Grid Layout</h5>
            
            <div class="layout-switcher">
                <a href="#" class="active"><i class="fa fa-th"></i></a>
                <a routerLink="/Businesslist-listview"><i class="fa fa-align-justify"></i></a>
            </div>
        </div>
    	
    	<div class="row" >
        	<div class="col-md-4 grid_view show_listing" *ngFor ="let business of businesses">
            	<div class="listing_wrap"  >
                    <div class="listing_img" (click)="onSelectBusiness(business)" >
                        <span class="like_post"><i class="fa fa-bookmark-o"></i></span>
                        <div class="listing_cate">
                            <!-- <span class="cate_icon"><a >
                                <img src="assets/images/category-icon5.png" alt="icon-img"></a></span> 
                            <span class="listing_like"><a href="#"><i class="fa fa-heart-o"></i></a></span> -->
                        </div>
                        <a > <img [src]="url.img_url+'/Business/logo/'+business.logo" alt=""></a>
                    </div>
                    <div class="listing_info">
                        <!-- <div class="post_category">
                            <a routerLink="business-profile">Hotels & Travel</a>
                        </div> -->
                        <h4><a>{{business.title}}</a></h4>
                        <p>{{business.tag_line}}</p>
                        <span>{{business.p_mobile}},</span>&nbsp;
                        <span>{{business.b_mobile}},</span>&nbsp;
                        <span>{{business.b_mobile2}},</span>&nbsp;
                        <div>{{business.email}}</div>
                        
                        <div class="listing_review_info">
                            <p><span class="review_score">4.0/5</span> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star"></i> 
                               (5 Reviews) </p>
                            <p class="listing_map_m"><i class="fa fa-map-marker"></i> {{business.address}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
		<nav class="pagination_nav">
                  <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2 </a></li>
                    <li><a href="#">3 </a></li>
                    <li><a href="#">4 </a></li>
                    <li><a href="#">5 </a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                  </ul>
                </nav>
    </div>
</section>
<!-- /Listings -->
</ng-container>
<app-footer></app-footer>

