<div id="titlebar">
    <div class="row">
      <div class="col-md-12">
        <h2>Update Category</h2>
        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li>Update Category</li>
          </ul>
        </nav>
      </div>
    </div>
  <div *ngIf = "alert" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!</strong> Your Data Has Been Updated Succesfully.
      <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
  <div class="row">
              
    
      <div class="col-lg-12 col-md-12">
          <form [formGroup]="updateCategoryForm" (ngSubmit)="onSubmit()">
              <div class="add_listing_info" >
                  <!-- <h3>update Category</h3>				 -->
                      <div class="form-group">
                          <label class="label-title">Category Name</label>
                          <input type="text"  class="form-control" formControlName="category"  required>
                      </div>
                       <div class="form-group">
                          <label class="label-title">Category Image</label>
                          <input type="file" (change)="onFileSelected($event)" formControlName="cat_img" required>
                      </div>   
                      <input type="submit"   value="Submit Category" class="btn"> 
              </div>
              <!-- <div class="add_listing_info">
                 
              </div>    -->
          </form>
      </div>
  </div>
  </div>
