<!-- Inner-Banner -->
<section id="inner_banner" class="parallex-bg aboutus_bg">
	<div class="container">
    	<div class="white-text text-center div_zindex">
        	<h1>About Us </h1>
        </div>
    </div>
    <div class="dark-overlay"></div>
</section>
<!-- /Inner-Banner -->

<!-- About-us -->
<section id="inner_pages">
	<div class="container">
    	<div class="row">
        	<div class="col-md-6">
            	<h3>Why We Are Unique</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
                <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
            </div>
            <div class="col-md-6">
            	<img src="assets/images/about-img.jpg" alt="image">
            </div>	
        </div>	
        
        <div class="row">
        	<div class="col-md-4">
            	<div class="box_wrap">
                	<i class="fa fa-file-text-o" aria-hidden="true"></i>
					<h4>Millions of Listings</h4>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                </div>
            </div>
            
            <div class="col-md-4">
            	<div class="box_wrap">
                	<i class="fa fa-money" aria-hidden="true"></i>
					<h4>Save Time & Money </h4>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                </div>
            </div>
            
            <div class="col-md-4">
            	<div class="box_wrap">
                	<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					<h4>Best Services</h4>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                </div>
            </div>
        </div>
        
        <div class="fan_facts gray_bg">
        	<div class="section-header text-center">
    	    	<h3>We Are Help You To Grow Your Business</h3>
	            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab 
                illo inventore veritatis et quasi architecto.</p>
            </div>
            
            <div class="facts_info">
            	<p><span>20</span> Years of Experience</p>
            </div>
            <div class="facts_info">
            	<p><span>70k</span> Happy Customers</p>
            </div>
            <div class="facts_info">
            	<p><span>35</span> Awards Won</p>
            </div>
            <div class="facts_info">
            	<p><span>100%</span> Satisfied Customers</p>
            </div>
        </div>
        
        <div class="our_prtners text-center">
            <h3>Our Partners</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
            
            <div class="partner_logo">
                <a href="#"><img src="assets/images/partner_logo1.png" alt="image"></a>
            </div>
            <div class="partner_logo">
                <a href="#"><img src="assets/images/partner_logo2.png" alt="image"></a>
            </div>
            <div class="partner_logo">
                <a href="#"><img src="assets/images/partner_logo3.png" alt="image"></a>
            </div>
            <div class="partner_logo">
                <a href="#"><img src="assets/images/partner_logo4.png" alt="image"></a>
            </div>
        </div>
    </div>
</section>