<app-header></app-header>
<app-banner ></app-banner>
<ng-container>
<section id="popular_cities" class="section-padding" >
	<div class="container" >
    	<div class="section-header text-center">
        	<h2>{{para.subcat}}</h2>
            <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
        </div>
        
        <div class="row">
        	<div class="col-sm-6 col-md-3" *ngFor ="let subcategory of subcategories" >
                <div class="cities_list" (click)="onSelectSubcategory(subcategory)" >
                    <img [src]="url.img_url+'/Subcategory/'+subcategory.subcat_img	" alt="">
                    <div class="city_listings_info">
                    	<h4>{{subcategory.subcat}}</h4>
                        <!-- <div class="listing_number"><span>6 Listings</span> </div> -->
                    </div>
                    <!-- <a  routerLink="/Businesslist-gridview" class="overlay_link"></a> -->
                </div>
            </div>
        </div>
        <!-- <ng-template #loading>
            <div class="service-error">
                <h3>Error loading of the blog detail. Please try again later.</h3>
            </div>
        </ng-template> -->
    
    </div>
</section>
</ng-container>
<app-footer></app-footer>