<section id="inner_banner" class="parallex-bg contactus_bg">
	<div class="container">
    	<div class="white-text text-center div_zindex">
        	<h1>Contact Us </h1>
        </div>
    </div>
    <div class="dark-overlay"></div>
</section>
<!-- /Inner-Banner -->

<!-- Contact-us -->
<section id="inner_pages">
	<div class="container">
    	<div class="row">
        	<div class="col-md-4">
            	<div class="office_info_box">
                	<div class="info_icon">
                    	<i class="fa fa-home"></i>
                    </div>
                    <h4>Office Address</h4>
                    <p>Plot No 38, 2nd Floor Yashodeep Driving School Pratap Nagar, Road, Somalwada, Nagpur, Maharashtra 440022</p>
                </div>
            </div>
            
            <div class="col-md-4">
            	<div class="office_info_box">
                	<div class="info_icon">
                    	<i class="fa fa-phone"></i>
                    </div>
                    <h4>Phone Number</h4>
                    <p>+91-8381009662</p>
                </div>
            </div>
            
            <div class="col-md-4">
            	<div class="office_info_box">
                	<div class="info_icon">
                    	<i class="fa fa-envelope-o"></i>
                    </div>
                    <h4>Email Address</h4>
                    <p><a href="mailto:contact@example.com">support@localtradestreet.com</a> <br>
                    <a href="mailto:info@example.com">info@localtradestreet.com</a> </p>
                </div>
            </div>
        </div>
        
        <div class="row">
        	<div class="col-md-6">
            	<div class="contact_form">
                	<h4>Let's get in touch</h4>
            		<form>
                	<div class="form-group">
                    	<input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                    	<textarea class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                    	<input type="submit" class="btn" value="Submit">
                    </div>
                </form>
                </div>
            </div>
            
            <div class="col-md-6">
            	<div class="map_wrap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14888.070709866744!2d79.0569164!3d21.1118614!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3648f96388597f84!2sSafe%20Ride%20Cabs!5e0!3m2!1sen!2sin!4v1610537517719!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                	
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- /Contact-us -->