<!-- <app-banner *ngIf="showSlider"></app-banner>
<app-category-slider *ngIf="router.url == '/' "></app-category-slider>
<app-category *ngIf="router.url == '/' ||router.url == '' "></app-category> -->
<app-header></app-header>
<app-banner ></app-banner>
<app-category-slider ></app-category-slider>
<ng-container>
    <!-- Popular category -->

<section class="section-padding gray_bg popular_city">
	<div class="container">
    	<div class="section-header text-center">
        	<h2>All Categories</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
        </div>
      
        
        <!-- <div class="row" >
        	<div class="col-md-4" *ngFor ="let card of data">
            	<div class="city_panel" (click)="navigate(card)" >
                	<a  class="overlay_link"></a>
                    <div class="city_picture col-md-push-2" ><img [src]="card.img"  /></div>
                    <div class="city_content col-md-pull-2">
                        <h6 class="heading">{{card.name}}</h6>
                    
                        <p *ngFor= "let s of card.sub">
                        <a>{{s.name}}</a><br>
                    
                        
                        </p>
                        <a>More..</a> 
                    </div>
                </div>
            </div> -->
            
            <div class="row" >
                <div class="col-md-4" *ngFor ="let category of categories"  >
                    <div class="city_panel"  >
                        <!-- <a  class="overlay_link" (click)="onSelectCategory(category,'overlaylink')"></a> -->
                        <div class="city_picture col-md-push-2" (click)="onSelectCategory(category)" >
                            <img [src]="url.img_url+'/Category/'+category.cat_img" alt="" (click)="onSelectCategory(category)">
                        </div>
                        <div class="city_content col-md-pull-2">
                            <h6 class="heading" (click)="onSelectCategory(category)">{{category.category}}</h6>
                           
                            <div *ngFor= "let subcategory of filterByCategory(category.id); let i = index;"  >
                                <div *ngIf=" i < 2" >
                                    <a class="subcat" (click)="subcatroute(subcategory.subcat)">{{subcategory.subcat}}</a><br><br>
                                </div>
                            </div>
                            <a class="subcat" (click)="onSelectCategory(category)">More...</a>
                       
                        </div>
                    </div>
                </div>

         
        </div>
    </div>
</section>
<!-- /Popular City -->
</ng-container>
<app-footer></app-footer>