<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2>Add Subcategory</h2>
      <!-- Breadcrumbs -->
      <nav id="breadcrumbs">
        <ul>
          <li><a href="#">Home</a></li>
          <li>Add Subcategory</li>
        </ul>
      </nav>
    </div>
  </div>

<div *ngIf = "alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Your Data Has Been Submitted Succesfully.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="row">
			
    <!-- Listings -->
    <div class="col-lg-12 col-md-12">
        <form [formGroup]="addSubcategoryForm" (ngSubmit)="onSubmit()">
            <div class="add_listing_info" >
                <!-- <h3>Add Subcategory</h3>	 -->
                <div class="form-group"> 
                    <label class="label-title">Select Category</label>
                    <div class="select" >
                        <select formControlName="cat_id"  (change)="onSelectCategory($event)" id="cat_id" class="form-control">
                            <option  value="">Select category...</option>
                            <option *ngFor="let category of categories" [value]="category.id">{{category.category}}</option>
                        </select>
                    </div>
                    </div>			
                    <div class="form-group">
                        <label class="label-title">Subcategory Name</label>
                        <input type="text"  class="form-control" formControlName="subcat"  required>
                    </div>
         	        <div class="form-group">
                        <label class="label-title">Category Image</label>
                        <input type="file" (change)="onFileSelected($event)" formControlName="subcat_img" required>
                    </div>    
                    <input type="submit"   value="Submit Subcategory" class="btn">
            </div>
            <!-- <div class="add_listing_info">
              
            </div>    -->
        </form>
    </div>
</div>
<br>
<h3>list of all Categories</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">cat_id</th>
        <th scope="col">Subcategory Name</th>
        <th scope="col">Image</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let subcategory of subcategories">
        <th scope="row">{{subcategory.id}}</th>  
        <th scope="row">{{subcategory.cat_id}}</th>
        <th>{{subcategory.subcat}}</th>
        <th class="list-box-listing">
            <div class="list-box-listing-img">
                <img [src]="url.img_url+'/Subcategory/'+subcategory.subcat_img" alt="">
            </div>
        </th>
        <th>
          <a routerLink="/admin/subcatupdate/{{subcategory.id}}" class="button gray"><i class="fa fa-pencil"></i> Edit</a>
        </th>
          <th>  
            <a style="cursor: pointer;" (click)= "deleteSubcategory(subcategory)" class="button red"><i class="fa fa-trash-o"></i> Delete</a>
        </th>
     </tr>
  
    </tbody>
  </table>  
